* {
  box-sizing: border-box;
}

:root {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  --green-background: rgb(110, 190, 70);
  --blue-background: rgb(45, 145, 205);
  --yellow-background: rgb(255, 255, 0);
  --medium-font: 1.5rem;
  --title-font: 3rem;
  --fade-time: 0.5s;
}

#body {
  background-color: var(--blue-background);
}

.App {
}

h1 {
  font-size: var(--title-font);
  margin-top: 0%;
}

.initial-text {
  font-size: var(--medium-font);
}

.start-button {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.25rem;
  background-color: var(--yellow-background);
  border: none;
  transition-duration: 250ms;
  box-shadow: 1px 0 5px 1px black;
}

.start-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hide {
  display: none;
}

.absolutely-positioned {
  position: absolute;
  left: 5%;
  right: 5%;
}

.fade-out-to-left {
  animation: fadeOutToLeft var(--fade-time) linear forwards;
}

.fade-out-to-right {
  animation: fadeOutToRight var(--fade-time) linear forwards;
}

.fade-in-from-left {
  animation: fadeInFromLeft var(--fade-time) linear forwards;
}

.fade-in-from-right {
  animation: fadeInFromRight var(--fade-time) linear forwards;
}

.fade-in-from-center {
  animation: fadeInCenter var(--fade-time) forwards;
}

@keyframes fadeOutToLeft {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-500px);
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOutToRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px);
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInCenter {
  0% {
    transform: translateY(100px);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
