* {
  box-sizing: border-box;
}

:root {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  --green-background: rgb(125, 225, 55);
  --blue-background: rgb(65, 165, 225);
  --yellow-background: rgb(255, 255, 0);
  --medium-font: 1.5rem;
  --title-font: 3rem;
  --fade-time: 0.5s;
}

#body {
  background-color: var(--blue-background);
}

.App {
  position: relative;
}

.welcome-screen-heading {
  font-size: var(--title-font);
  margin-top: 1%;
}

.question-heading {
}

.question-introduction {
  color: navy;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial-text {
  font-size: var(--medium-font);
}

.start-button {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.25rem;
  background-color: var(--yellow-background);
  border: none;
  transition-duration: 250ms;
  box-shadow: 1px 0 5px 1px black;
}

.start-button:hover,
.next-button:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.next-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.next-button {
  background-color: var(--green-background);
  color: black;
  padding: 0.55rem 3.5rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.1rem;
}

.next-button:hover {
  background-color: rgb(120, 220, 50);
}

.next-button-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3.5px;
  display: inline-block;
  position: relative;
  left: 40px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.question-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  width: min-content;
  color: white;
}

.back-button-wrapper {
  flex-grow: 1;
}

.back-button {
  background-color: rgba(0, 0, 0, 0); /*background: none;*/
  border: none;
  color: navy;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.back-button-arrow {
  border: solid navy;
  border-width: 0 2px 2px 0;
  padding: 3.5px;
  display: inline-block;
  position: relative;
  right: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}

.property-image-wrapper {
  width: fit-content;
}

.property-image:hover {
  box-shadow: 0px 0px 10px 0px black;
  cursor: pointer;
}

.property-image {
  border-radius: 10%;
}

.answer-circle {
  border: 2px solid white;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  left: 10px;
  bottom: 45px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-circle > p {
  position: relative;
}

.hide {
  display: none;
}

.absolutely-positioned {
  position: relative;
  width: 90%;
  margin: auto;
}

.fade-out-to-left {
  animation: fadeOutToLeft var(--fade-time) linear forwards;
}

.fade-out-to-right {
  animation: fadeOutToRight var(--fade-time) linear forwards;
}

.fade-in-from-left {
  animation: fadeInFromLeft var(--fade-time) linear forwards;
}

.fade-in-from-right {
  animation: fadeInFromRight var(--fade-time) linear forwards;
}

.fade-in-from-center {
  animation: fadeInCenter var(--fade-time) forwards;
}

@keyframes fadeOutToLeft {
  0% {
    transform: translateX(0px);
    opacity: 1;
    position: absolute;
  }
  100% {
    transform: translateX(-500px);
    opacity: 0;
    display: none;
    position: absolute;
  }
}

@keyframes fadeOutToRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(500px);
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInCenter {
  0% {
    transform: translateY(100px);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (min-width: 425px) {
  .absolutely-positioned {
    width: 80%;
    margin: auto;
  }
}
