.back-button-wrapper {
  flex-grow: 1;
}

.back-button {
  background-color: rgba(0, 0, 0, 0); /*background: none;*/
  border: none;
  color: navy;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button-arrow {
  border: solid navy;
  border-width: 0 2px 2px 0;
  padding: 3.5px;
  display: inline-block;
  position: relative;
  right: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}

.next-button-wrapper,
.start-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.start-button {
  background-color: rgb(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  border-radius: 1.5rem;
  padding: 0.65rem 3.5rem;
  font-size: 1.2rem;
}

.next-button {
  background-color: var(--green-background);
  color: black;
  border: none;
  border-radius: 1.5rem;
  padding: 0.65rem 3.5rem;
  font-size: 1.2rem;
}

.next-button-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3.5px;
  display: inline-block;
  position: relative;
  left: 40px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.answer-button-wrapper {
  margin-bottom: 25px;
}

.answer-button {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(1, 96, 160);
  border: none;
  border-radius: 1.5rem;
  font-size: 0.9rem;
  color: white;
}

.answer-button-text {
  margin-left: 15px;
}

.start-button:hover,
.next-button:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.back-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.next-button:hover {
  background-color: rgb(120, 220, 50);
}

.answer-button:hover {
  cursor: pointer;
  transform: scale(1.005);
}

@media only screen and (min-width: 425px) {
  .back-button {
    font-size: 1.1rem;
  }
}
